* {
  margin: 0;
  padding: 0;
  font: normal 12px "noto sans korean";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

input,
textarea {
  outline: none;
}

#wrapper {
  width: 100%;
  height: 100%;
}

/*header*/
header {
  width: 100%;
  height: auto;
}

header > div {
  width: 100%;
}

header > div > * {
  width: 1100px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

/*header > .top*/
header .top {
  height: 36px;
  border-bottom: 1px solid #dcdcdc;
}

header .top > div > p {
  float: right;
  margin-top: 10px;
}

/*header's logo area*/
header > div:nth-child(2) {
  height: 100px;
}

header > div:nth-child(2) > article {
  position: relative;
  padding: 10px;
}

header > div:nth-child(2) > article > a {
  position: absolute;
}

header > div:nth-child(2) .shopping {
  left: 10px;
  bottom: 10px;
}

header > div:nth-child(2) .logo {
  top: 25%;
  left: 33%;
}

header > div:nth-child(2) .oneday_txt {
  right: 10px;
  bottom: 7px;
}

/*header's nav area*/
header > div:nth-child(3) {
  height: 54px;
  background-color: #40382e;
}

header > div:nth-child(3) > nav > ul {
  width: 100%;
  height: 100%;
}

header > div:nth-child(3) > nav li {
  float: left;
  width: 11.11%;
  height: 100%;
}

header > div:nth-child(3) > nav a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 54px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/*main*/
main {
  width: 100%;
  height: auto;
}

main > section {
  width: 100%;
  height: auto;
}

main > section > article {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

/*main > .slider*/
main > .slider {
  height: 352px;
  background: #ffeed4;
}

main > .slider > article {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

main > .slider ul {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main > .slider ul > li {
  position: absolute;
  width: 100%;
  height: 100%;
}

main > .slider ul > li:nth-child(1) {
  left: 0;
  top: 0;
}

/*main > .go*/
main > .go {
  height: 520px;
}

main > .go > article {
  padding: 30px 10px;
  box-sizing: border-box;
}

main > .go > article > .banner {
  position: relative;
  float: left;
}

main > .go > article > .banner > a {
  position: absolute;
  left: 26px;
  top: 36px;
}

main > .go > article > .banner1 {
  width: 412px;
  height: 450px;
  background-image: url(../images/main_go_bg1.png);
}

main > .go > article > .banner2 {
  width: 322px;
  height: 220px;
  margin-left: 11px;
  background-image: url(../images/main_go_bg2.png);
}

main > .go > article > .banner3 {
  float: right;
  width: 322px;
  height: 220px;
  background-image: url(../images/main_go_bg3.png);
}

main > .go > article > .banner4 {
  width: 322px;
  height: 220px;
  margin-left: 11px;
  margin-top: 10px;
  background-image: url(../images/main_go_bg4.png);
}

main > .go > article > .banner5 {
  float: right;
  width: 322px;
  height: 220px;
  margin-top: 10px;
  background-image: url(../images/main_go_bg5.png);
}

main > .go .banner .category {
  font-weight: bold;
  font-size: 16px;
  color: #ff6312;
}

main > .go .banner .title {
  font-size: 24px;
  color: #fcfffd;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main > .go .banner .title.dark {
  color: #3c362a;
}

main > .go .banner1 .title > i {
  display: block;
  margin-top: 24px;
  font-size: 14px;
}

/*main > .oneday*/
main > .oneday {
  height: 190px;
  background-image: url(../images/oneday_bg.png);
  background-size: cover;
  background-position: 50% center;
}

main > .oneday > article img {
  margin-top: 50px;
}

/*main > .vegetable*/
main > .vegetable {
  height: 660px;
}

main > .vegetable > article {
  padding: 60px 0px 40px;
  box-sizing: border-box;
  text-align: center;
}

main .thumb_rolling {
  width: 100%;
  height: 312px;
  margin-top: 36px;
  box-sizing: border-box;
  overflow: hidden;
}

main .thumb_rolling > li {
  float: left;
  width: 25%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

main .thumb_rolling > li a {
  display: block;
  width: 100%;
  height: 100%;
}

main .thumb_rolling > li img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

main .thumb_rolling > li h1 {
  font-size: 20px;
  font-weight: bold;
  color: #41392f;
  margin-top: 12px;
}
main .thumb_rolling > li p {
  font-size: 13px;
  font-weight: bold;
  color: #959595;
  margin: 12px 0 26px;
}

main .thumb_rolling > li h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6a00;
}

main .all {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid #efefef;
  box-shadow: 0px 2px 2px #999;
  text-align: center;
  line-height: 50px;
  margin: 56px auto 0;
  color: #626262;
  font: 15px;
  font-weight: bold;
}

/*main > .premium*/
main > .premium {
  height: 200px;
  background-image: url(../images/premium_bg.png);
  background-size: cover;
  background-position: 50% center;
}

main > .premium > article {
  text-align: center;
}

main > .premium > article img {
  margin-top: 52px;
}

/*main > .seafood*/
main > .seafood {
  height: 660px;
}

main > .seafood > article {
  padding: 60px 0px 40px;
  box-sizing: border-box;
  text-align: center;
}

main > .seafood ul {
  width: 100%;
  height: 312px;
}

main > .seafood li {
  float: left;
  width: 25%;
  height: 100%;
}

/*footer*/
footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

footer > div {
  width: 100%;
  box-sizing: border-box;
}

footer > div:first-child {
  height: 50px;
  background-color: #626262;
}

footer .terms {
  float: left;
  margin-top: 14px;
  color: #eee;
  font-size: 15px;
  font-weight: bold;
}

footer .terms > a:first-child {
  color: #ff6a00;
}

footer .terms > a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

footer > div:nth-child(1) > div {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

footer > div:nth-child(2) {
  height: 156px;
  background-color: #434343;
}

footer > div:nth-child(2) > div {
  width: 1100px;
  height: auto;
  padding: 16px 0;
  margin: 0 auto;
}

footer > div:nth-child(2) p {
  float: left;
  color: #aca9a9;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
}

footer > div:nth-child(2) img {
  float: right;
}
